<h2>Create project</h2>
<!-- Part 2: Create project -->
{{#each errors}}
<div style="color:red"> {{this}} </div>>
{{/each}}
<div class = "container">
    <div class ="mw-50 mx-auto">
        <form method="post" action="/new">
          <div class="form-group">
            <label for="projectTitle">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Title" value= "{{title}}">
          </div>
          <div class="form-group">
            <label for="projectGoal">Goal</label>
            <input type="number" class="form-control" name="goal" placeholder="0" value={{goal}}>
          </div>
          <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea type="text-area" class="form-control" name="description" rows="4" > {{description}} </textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="projectStartDate">Start Date</label>
                <input type="date" class="form-control" name="start" value={{start}}>
            </div>
            <div class="form-group col-md-6">
                <label for="projectEndDate">End Date</label>
                <input type="date" class="form-control" name="end" value={{end}}>
            </div>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
